<!-- Login/Register Section -->
<section class="bg-primary py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-4 align-items-center">
      
      <!-- Branding Section -->
      <div class="col-12 col-md-6 col-xl-7">
        <div class="d-flex justify-content-center text-bg-primary">
          <div class="col-12 col-xl-9">
            <img class="img-fluid rounded mb-4" loading="lazy" src="./assets/img/bsb-logo-light.svg" width="245" height="80" alt="BootstrapBrain Logo">
            <hr class="border-primary-subtle mb-4">
            <h2 class="h1 mb-4">Heeneth is cute ...</h2>
            <p class="lead mb-5">dev/sai</p>
          </div>
        </div>
      </div>

      <!-- Form Section -->
      <div class="col-12 col-md-6 col-xl-5">
        <div class="card border-0 rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <h3 *ngIf="isLoginMode">Sign in</h3>
                  <h3 *ngIf="!isLoginMode">Sign up</h3>
                  <p *ngIf="isLoginMode">Don't have an account? <a href="javascript:void(0)" (click)="toggleMode()">Sign up</a></p>
                  <p *ngIf="!isLoginMode">Already have an account? <a href="javascript:void(0)" (click)="toggleMode()">Sign in</a></p>
                </div>
              </div>
            </div>
            <form (ngSubmit)="isLoginMode ? userLogin() : userRegisteration()">
              <div class="row gy-3 overflow-hidden">

                <!-- Name Input (Registration only) -->
                <div class="col-12" *ngIf="!isLoginMode">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="registerName" placeholder="Enter your full name" [(ngModel)]="registerName" name="registerName">
                    <label for="registerName" class="form-label">Full Name</label>
                  </div>
                </div>

                <!-- Name Input (Registration only) -->
                <div class="col-12" *ngIf="!isLoginMode">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="registerPhoneNumber" placeholder="Enter your phone Number" [(ngModel)]="registerPhoneNumber" name="registerPhoneNumber">
                    <label for="registerPhoneNumber" class="form-label">Phone Number</label>
                  </div>
                </div>

                <!-- Phone/Email Inputs -->
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input *ngIf="isLoginMode" type="text" class="form-control" id="loginPhoneNumber" placeholder="Enter your phone number" [(ngModel)]="loginPhoneNumber" name="loginPhoneNumber">
                    <input *ngIf="!isLoginMode" type="email" class="form-control" id="registerEmail" placeholder="Enter your email" [(ngModel)]="registerEmail" name="registerEmail">
                    <label *ngIf="isLoginMode" for="loginPhoneNumber">Phone Number</label>
                    <label *ngIf="!isLoginMode" for="registerEmail">Email</label>
                  </div>
                </div>
                <!-- Password Input -->
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Enter your password" [(ngModel)]="passwordModel" name="password">
                    <label for="password">Password</label>
                  </div>
                </div>
                <!-- Remember me (Login only) -->
                <div class="col-12" *ngIf="isLoginMode">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember_me">
                    <label class="form-check-label text-secondary" for="remember_me">
                      Keep me logged in
                    </label>
                  </div>
                </div>

                <!-- Submit Button -->
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">{{ isLoginMode ? 'Log in now' : 'Register' }}</button>
                  </div>
                </div>
              </div>
            </form>

            <!-- Forgot password and social login (Login only) -->
            <div class="row" *ngIf="isLoginMode">
              <div class="col-12 d-flex justify-content-end mt-4">
                <a href="#">Forgot password</a>
              </div>
              <div class="col-12 mt-4">
                <p class="text-center">Or continue with</p>
                <div class="d-flex gap-3 justify-content-center">
                  <a href="#" class="btn btn-outline-danger rounded-circle"><i class="bi bi-google"></i></a>
                  <a href="#" class="btn btn-outline-primary rounded-circle"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="btn btn-outline-dark rounded-circle"><i class="bi bi-apple"></i></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
