.container {
    max-width: 90%;
    min-width: 70%;
  }
  
  .card-header {
    color: black;
  }
  
  a {
    cursor: pointer;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  