<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img  src="assets/img/logo.jpg" alt="Logo" width="42" height="42" >
      <span class="fw-bold text-secondary">Bill 2 Bank</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bill-to-bank']" routerLinkActive="router-link-active">Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>

      <div class="d-flex">
        <ng-container *ngIf="!userRole; else loggedIn">
          <button class="btn btn-outline-primary btn-sm" type="button">Login</button>
        </ng-container>
        <ng-template #loggedIn>
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                {{userName}}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>{{userRole}}</button>
                <button (click)="logOut()" ngbDropdownItem>Logout</button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
<hr>
